body{
    background-image: url(./assests/perg.jpg);
    font-family: modern antiquans, serif;
    font-size: 3rem;
    font-style: italic;
}
h1{
    text-align: center;
    margin-top: 9rem;
}

dt{
    text-align: center;
    font-size: 4rem;
    padding: 5rem;
    font-family: modern antiquans, serif;
}
#grifi{
    background-image: url(./assests/rifinoria.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #f3b406;
    text-align:center;
    font-family: modern antiquans, serif;
    font-size: 2rem;
    font-style: italic;
    border: groove 5px;
    border-color: red #f3b406 ;
    margin: auto;
    padding: 5rem;
}

#luf{
    background-image: url(./assests/lufa-lufa.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    font-family: modern antiquans, serif;
    font-size: 2rem;
    font-style: italic;
    border: groove 5px;
    border-color: #f3b406 black;
    margin: auto;
    padding: 5rem;
}

#corv{
    background-image: url(./assests/corvinal.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    color: aliceblue;
    font-family: modern antiquans, serif;
    font-size: 2rem;
    font-style: italic;
    border: groove 5px;
    border-color: #2d79dd #ff9204;
    margin: auto;
    padding: 5rem;
}

#sonse{
    background-image: url(./assests/soserina.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    color: white;
    font-family: modern antiquans, serif;
    font-size: 2rem;
    font-style: italic;
    border: groove 5px;
    border-color: green white;
    margin: auto;
    padding: 5rem;
}

